<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Registrar<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <input type="text" placeholder="Nota 1" name="notaUm">
        <input type="text" placeholder="Nota 2" name="notaDois">
        <br />
        <button type="submit">Incluir</button>
        <button><a href="/show">Todos</a></button>
    </form> 

</body>
</html>